{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе{% endblock %}
{% block content %}
    <div class="form-container">
        <div class="form">
            <p style="text-align: center; margin-top: 20px;"><a><b>С горем пополам все это сделал</b></a></p>
            <p style="text-align: center; margin-top: 20px;"><a href="https://github.com/Andrey-Kugubaev"><b>Андрей Кугубаев</b></a></p>
            <p style="text-align: center; margin-top: 20px;"><span><img src="{%static '/images/author.jpg' %}" class="img_python1"></span>
        </div>
    </div>
{% endblock %}